.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-y: scroll;
  height: 87vh;
}
.mainContainer {
  border-radius: 5px;
}
.actionRow {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px;
  padding: 5px 20px;
}
.dropdownItem {
  text-decoration: none;
  color: black;
}
.sortingAction {
  margin-right: 10px;
}
.filterAction {
  margin-left: 10px;
}
