.cartCard {
  display: flex;
  border-radius: 5px;
  padding: 8px;
  background: #eeeded;
}

.checkoutButtonContainer {
  width: 100%;
  text-align: center;
}

.checkoutButton {
  width: 100%;
  max-width: 560px;
}
