.cartCard {
  display: flex;
  border-radius: 5px;
  box-shadow: 1px 2px 8px #a1ccd1;
  padding: 8px;
}
.checkoutButtonContainer {
  width: 100%;
  text-align: center;
}

.checkoutButton {
  width: 100%;
  max-width: 560px;
}
