.productList {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 100vh;
}
.cartContainer {
  display: flex;
  justify-content: space-between;
}
.cartProductContainer {
  width: 40%;
}
.cartDetailsContainer {
  width: 70%;
  padding-top: 8px;
  margin: auto;
}

@media screen and (max-width: 560px) {
  .cartContainer {
    flex-direction: column;
  }
  .cartProductContainer {
    width: 100%;
  }
  .cartDetailsContainer {
    width: 100%;
  }
}
