.wrapToTwoLines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
}
.wrapToThreeLines {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
}
.imageBox {
  object-fit: contain;
  height: 15rem;
  width: 15rem;
}
.productCardBody {
  font-family: "Calibari";
}
.productCard {
  border-radius: 5px;
}
.buttonContainer {
  text-align: center;
}
.ratingCountAndPrice {
  display: flex;
}
