.wrapToTwoLines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.wrapToThreeLines {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.imageBox {
  object-fit: contain;
  height: 80%;
}
.productCardBody {
  font-family: "Calibari";
  flex: 1;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.productCard {
  display: flex;
  flex-direction: column;
  background: #eeeded;
  border-radius: 5px;
  align-items: center;
  height: 350px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.button {
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
  border: 1px solid #00a4ff;
  margin: 5px 0px;
  color: #00a6ff;
  box-shadow: 1px 2px 8px #c9dce9;
}
.ratingCountAndPrice {
  display: flex;
}
.plusMinusButton {
  display: flex;
}
.productCount {
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0px;
}

@media screen and (max-width: 560px) {
  .productCard {
    width: 100%;
    flex-direction: column;
  }
}
