.wrapToTwoLines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.wrapToThreeLines {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.imageBox {
  object-fit: contain;
  height: 80%;
}
.categoryCardBody {
  font-family: "Calibari";
  padding: 0px;
  flex: 1;
  margin-top: 5px;
}
.categoryCard {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  align-items: center;
  height: 250px;
  width: 30%;
  background: #eeeded;
  cursor: pointer;
}

@media screen and (max-width: 560px) {
  .categoryCard {
    width: 100%;
    flex-direction: column;
  }
}
