.registerContainer {
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 360px;
  height: fit-content;
  padding: 20px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  overflow: auto;
}
.registerButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0.4rem;
}

.button {
  width: 100%;
  border: 1px solid #262626;
  display: flex;
  align-items: center;
}
.googleText {
  padding-left: 0.3rem;
}
.registerForm {
  width: 100%;
}
.loginWithGoogleButton {
  margin: auto;
  display: flex;
}
.registerHeading {
  text-align: center;
  margin: 10px 0px;
  color: #262626;
  padding-bottom: 5px;
}
.crossButton {
  text-align: end;
}
