.brandTitle {
  font-weight: bold;
  font-family: Tahoma, sans-serif;
  cursor: pointer;
}
.headerBackground {
  background-color: #dba39a;
}
.navbarCollapse {
  flex-grow: 0 !important;
}
.searchBarForm {
  flex: 1;
}
.searchBarWidth {
  min-width: 10rem;
  width: 80%;
}
.hide {
  display: none;
}
.buttonItem {
  height: 2rem;
}

.linksContainer {
  align-items: baseline;
}
.buttonBackground {
  background-color: transparent;
  border: none;
  padding: 0px 8px;
  margin: 0px 4px;
}
.buttonBackground:hover,
.buttonBackground:active {
  color: black;
}
