.brandTitle {
  font-weight: bold;
  font-family: Tahoma, sans-serif;
  cursor: pointer;
  width: 20%;
  text-align: center;
  color: white;
}
.brandTitle:hover {
  color: white;
}
.headerBackground {
  background-color: #000;
}
.navbarCollapse {
  flex-grow: 0 !important;
}
.navbarContainer {
  flex-wrap: nowrap !important;
}
.offcanvasTitle {
  background-color: #000 !important;
  color: white;
}
.offcanvasTitle > button {
  filter: invert(1);
}
.offcanvasBody {
  background-color: white !important;
}
.searchBarForm {
  flex: 1;
}
.searchBarWidth {
  width: 80%;
}
.hide {
  display: none;
}
.buttonItem,
.cartButton {
  height: 2rem;
  display: block;
}

.linksContainer {
  align-items: baseline;
}
.buttonBackground {
  color: black;
  border: none;
  padding: 0px 8px;
  font-weight: 600;
  margin: 0px 4px;
  font-size: 16px;
}
.buttonBackground:hover,
.buttonBackground:active {
  color: white;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
@media screen and (min-width: 992px) {
  .offcanvasBody {
    background-color: transparent !important;
  }
  .buttonBackground {
    color: white;
  }
}
