.mainContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.sideBar {
  width: 20%;
  margin-top: 20px;
  background: #f1f3f4;
  height: 100vh;
}
.outletContainer {
  margin: 20px 30px;
  background: #f1f3f4;
  width: 80%;
}
